.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding-top: 24px;
  margin-left: 156px;
  margin-right: 156px;
}
.gallery-item {
  flex: 1 1 calc(33.3% - 16px);
  max-width: 100%;
  box-sizing: border-box;
}
.gallery-link {
  display: block;
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
}

.section-form {
  padding: 24px;
  width: 408px;
  height: 296px;
  background: #fff;
}

.feedback-form {
  width: 360px;
  height: 192px;
}

.feedback-form-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form-input,
.feedback-form-textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.feedback-form-btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  color: #fff;
  border: 1px solid #ccc;
  margin-top: 16px;
}

.feedback-form-btn:hover {
  background: #0056b3;
}
